<html>
<head>
    <title>TV...or Not TV</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container-fluid">

  <h1>TV...or Not TV</h1>

<nav class="nav nav-right">
<ul class="nav nav-tabs">
<li role="presentation"><a href="/">Home</a></li>
{% if not session['logged_in'] %}
<li role="presentation"><a href="/login">Log In</a></li>
<li role="presentation"><a href="/signup">Sign up</a></li>
{% endif %}
{% if session['logged_in'] %}
<li role="presentation"><a href="/favorites/{{ session['id'] }}">Favorites</a></li>
<li role="presentation"><a href="/schedule/{{ session['id'] }}">TV Listings</a></li>
<li role="presentation"><a href="/settings/{{ session['id'] }}">Settings</a></li>
<li role="presentation"><a href="/logout">Log out</a></li>
{% endif %}
<li role="presentation">
<form class="nav nav-form" action="{{ url_for("search") }}" method="POST" role="search">
<div class="form-group">
<div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Search">
<span class="input-group-btn">
       <button type="submit" class="btn btn-default nav-btn">Submit</button></span></div></div>
      </form>
</li></ul>
</nav>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
  <div class="alert alert-warning alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{{ message }}</div>
{% endfor %}

</div>
{% endif %}
{% endwith %}

{% block body %}
{% endblock %}
</div>
</body>
</html>