<html>
<head>
    <title>TV...or Not TV</title>
    <link rel="shortcut icon" href="http://localhost:5000/static/favicon.ico" type="image/x-icon">
<link rel="icon" href="http://localhost:5000/static/favicon.ico" type="image/x-icon">
<link href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'> 
   <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
        <link rel="stylesheet" href="http://localhost:5000/static/css/magic-bootstrap-min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://localhost:5000/static/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://localhost:5000/static/css/custom.css">
</head>
<body>

<div class="container">
  <h1><a href="/">TV...or Not TV</a></h1>

<nav id="main-nav" class="nav">


<div class="row">

<div class="col-xs-12 col-sm-8 col-md-6">
<ul class="nav nav-pills">

{% if not session['logged_in'] %}

<li id="login" role="presentation"><a id="show_login" href="{{ url_for('show_login') }}">Log In</a></li>

<li id="signup" role="presentation"><a id="show_signup" href="{{ url_for('show_signup') }}">Sign up</a></li>
{% endif %}
{% if session['logged_in'] %}

<li role="presentation"><a id="show_favorites" href="{{ url_for('show_favorites') }}">Home</a></li>

<li role="presentation"><a id="show_listings" href="{{ url_for('show_listings') }}">Full Listings</a></li>

<li role="presentation"><a id="user_settings" href="{{ url_for('user_settings') }}">Settings</a></li>

<li role="presentation"><a id="logout" href="{{ url_for('logout') }}">Log out</a></li>


{% endif %}
</div><!-- end col-sm-8 col-md-6 -->
<div class="col-xs-12 col-sm-4 col-md-6 pull-right">

<li role="presentation">
<form class="nav nav-form navbar" action="{{ url_for("search") }}" method="POST" role="search">
<div class="form-group">
<div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Search">
<span class="input-group-btn">
       <button type="submit" class="btn btn-primary nav-btn">Submit</button></span></div></div>
      </form>
</li>

</ul>

</div><!-- end row-->
</nav>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
  <div class="alert alert-warning alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{{ message }} </div>
{% endfor %}


{% endif %}
{% endwith %}

<div class="divider"></div>
{% block body %}
{% endblock %}
<script>
$(document).ready(function() {
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
  $("#{{request.endpoint}}").parent().addClass("active");
});
});

</script>
</div><!--end container-->
</body>
</html>