<script>
$(document).ready(function() {

	$(".change-service").hide();

	$("#zipcode-field").keyup( 

	function(e) {
	var len = $("#zipcode-field").val().length;
	if (len>4) {
		$(".change-service").show()};
	});



	$("#change-service").click( 
	function(e) {	

	var url = "/find-provider?zipcode=" + $("#zipcode-field").val();

		$.get(url,
			function(result) {

				$("#service-options").empty();

				$(".show-options").html("Choose your TV service provider:");
				
				$(result.services).each( function() {
					
					$(".service-options").append("<div class='radio'><label><input type='radio' name='service-provider' value='" + this['ServiceId'] + "' id='" + this['ServiceId'] + "'>" + this['Name'] + "</label></div>"); 

				}); 
			}); 

	});
});
</script>
</div>
<div class="row">
<div class="col-md-8">
<form id="update-settings" action="/settings/update") method="POST">

<div class="form-group">
<label for="name">Name</label>
    <input class="form-control" type="text" name="username" placeholder="{{ user.name }}" autofocus />
</div>

<div class="form-group">
<label for="email">Email</label>
	<input class="form-control" type="email" name="email" placeholder="{{ user.email }}" />
</div>

<div class="form-group">
<label for="phone">Phone Number</label>
	<div class="input-group">
    <span class="input-group-addon">
    <input type="checkbox" id="get_texts" name="get_texts" value="True" aria-label="get-texts" {% if user.get_texts == 1 %}checked{% endif %} /></span>
    <input class="form-control" id="phone" type="tel" name="phone" placeholder="{{ user.phone }}" aria-label="phone-number" />
    </div><!-- end input group-->
<p class="help-block">
{% if user.get_texts == 1 %}
Un-check this box if you would like to stop receiving text alerts for new episodes.
{% else %}
Select this box if you would like to receive text alerts for new episodes.
{% endif %}
</p>
</div><!-- end phone number form group -->

<div class="form-group">
<label for="zipcode">Zip Code</label>
    <input type="zipcode" class="form-control" id="zipcode-field" name="zipcode" placeholder="{{ user.zipcode}}" />
    <p class="help-block">Enter zip code to look for another provider.</p>
</div>

<div class="form-group">
<label for="change-service">Service Provider</label><p>{{ user.service.name }}</p></div>

<p class="change-service">
<button id='change-service' class='btn btn-info' type='button'>Change Service Provider</button>
</p>


    <div class="show-options"></div>
    <div class="service-options"></div>

<div class="form-group">
<label for="old-password">Old Password</label>
    <input class="form-control" type="password" name="old-password" placeholder="Required" required />
</div>

<div class="form-group">
<label for="new-password">New Password</label>
<input class="form-control" type="password" name="new-password" placeholder="Optional" />
</div>


<p><button id="update-profile" class="btn btn-info" type="submit">Update Profile</button></p>
</form>
</div>

</div>