{% extends 'base.html' %}
{% set active_page = "favorites" %}
{% block body %}

{% if favorites %}


{% for favorite in favorites %}
<div class="row">
<div class="col-md-12">

<div class="panel panel-info">
  <div class="panel-heading lead">
    <!-- <h2 class="panel-title"> -->{{ favorite.show.title }}<!-- </h2> -->
  </div><!-- end panel-heading -->

  <div class="panel-body">
  <div class="row">

{% if favorite.show.img %}
<div class="col-sm-12 col-md-4">
{% else %}
<div class="col-md-6">
{% endif %}
	<p>{{ favorite.show.synopsis }}</p>
	{% if schedule %}

 	{% for listing in schedule %}
 	{% if listing['Title'] == favorite.show.title %}

	<script>
	$(document).ready(function() {
	var air_time = moment.utc("{{ listing['AiringTime'] }}").local();
	air_time = air_time.format("LT on dddd, MMMM Do");
	var from_now = moment("{{ listing['AiringTime'] }}").fromNow();

	$(".{{ listing['ProgramId'] }}-date").html(air_time);
	$(".{{ listing['ProgramId'] }}-relative").html("  " + from_now);
});
	</script>
		
	<p class="small"><span class="label label-danger">NEW EPISODE</span> on <a href="#" data-toggle="tooltip" title="{{ listing['SourceLongName'] }}">channel {{ listing['Channel'] }}</a> <span class="{{ listing['ProgramId'] }}-relative"></span>: </p><p class="small"><em>"{{ listing['EpisodeTitle'] }}"</em> &mdash; {{ listing['Copy'] }}</p>


<p><span class="label label-info"><strong>Watch at</strong> <span class="{{ listing['ProgramId'] }}-date"></span></span></p>

{% else %}
<p class="small">No new episodes of {{ favorite.show.title }} this week.</p>

	{% endif %}<!-- end if listing['ProgramId'] == favorite.show.id -->
	


{% endfor %}<!-- end for listing in schedule-->
{% endif %} <!-- end if schedule -->


</div><!-- end col sm 12 -->

{% if favorite.show.img %}
<div class="col-sm-12 col-md-8">
<img class="img-responsive" src="{{ favorite.show.img }}" alt="{{ favorite.show.title }}">
</div>
{% endif %}<!-- end if image-->

</div><!-- end row-->

  </div><!-- end panel body -->

</div><!-- end panel -->



</div><!-- end col-md-12 -->


</div><!--end row-->

{% endfor %}<!--end for favorite in favorites-->


{% else %}
It looks like you don't have any favorites saved. Search for shows to add to your favorites, then see when they'll be on TV next.
{% endif %}<!-- if favorites -->


{% endblock %}