{% extends 'base.html' %}
{% set active_page = "favorites" %}
{% block body %}

{% if favorites %}


{% for favorite in favorites %}

<div class="row">
<div class="col-md-12">

<div class="panel panel-info">
  <div class="panel-heading lead">
    <!-- <h2 class="panel-title"> -->{{ favorite.show.title }}<!-- </h2> -->
  </div><!-- end panel-heading -->

  <div class="panel-body">
  <div class="row">

	{% if favorite.show.img %}
	<div class="col-sm-12 col-md-4">
	{% else %}
	<div class="col-md-6">
	{% endif %}
	<p>{{ favorite.show.synopsis }}</p>


<p class="small new-episode-{{ favorite.show.cosmoid }}">No new episodes of {{ favorite.show.title }} this week.</p>
</div><!-- end col sm 12 -->

{% if favorite.show.img %}
<div class="col-sm-12 col-md-8">
<img class="img-responsive" src="{{ favorite.show.img }}" alt="{{ favorite.show.title }}">
</div>
{% endif %}<!-- end if image-->

</div><!-- end row-->

  </div><!-- end panel body -->

</div><!-- end panel -->



</div><!-- end col-md-12 -->


</div><!--end row-->


	
{% endfor %}<!--end for favorite in favorites-->



{% else %}
It looks like you don't have any favorites saved. Search for shows to add to your favorites, then see when they'll be on TV next.
{% endif %}<!-- if favorites -->

{% if schedule %}
	{% for listing in schedule %}
		{% if listing['Title'] %}
			<script>
			$(document).ready(function() {
				var air_time = moment.utc("{{ listing['AiringTime'] }}").local();
				air_time = air_time.format("LT on dddd, MMMM Do");
				var from_now = moment("{{ listing['AiringTime'] }}").fromNow();


			var channel = "{{ listing['Channel'] }}"
			var channel_name = "{{ listing['SourceLongName'] }}"
			var series_id = "{{ listing['SeriesId'] }}"
			var episode_title = "{{ listing['EpisodeTitle'] }}"
			var copy = "{{ listing['Copy'] }}"

			var info = '<span class="label label-danger">NEW EPISODE</span> on <a href="#" data-toggle="tooltip" title="' + channel_name + '">channel ' + channel + '</a> ' + from_now + ': </p><p class="small"><em>"' + episode_title + '"</em> &mdash; ' + copy + '</p><p><span class="label label-info"><strong>Watch at ' + air_time
			$(".new-episode-" + series_id).empty();
			$(".new-episode-" + series_id).html(info);

			});
			</script>
		{% endif %}

		{% endfor %}
	{% endif %} <!-- end if schedule -->
{% endblock %}