{% extends 'base.html' %}
{% block body %}

{% if favorites %}
<div class="row">
	{% for favorite in favorites %}
		{% if favorite.show.img %}
		<div class="col-md-3">
			<p><img class="img-thumbnail" src="{{ favorite.show.img }}" alt="{{ favorite.show.title }}"></p>
		</div>
		<div class="col-md-9">
		{% else %}
		<div class="col-md-12">
		{% endif %}
<div class="panel panel-default">
<div class="panel-heading lead">Listings for <strong>{{ favorite.show.title }}</strong>
</div>
		{% if schedule %}
	<table class="table table-striped table-responsive">
	<thead> 
	<tr>
		<th class="table-header-date">Date</th>
		<th class="table-header-time">Time</th>
		<th class="table-header-channel">Channel</th>
		<th class="table-header-synopsis">Synopsis</th>
		<th></th>
	</tr>
	</thead>

	<tbody>
{% for key, value in schedule[loop.index-1].iteritems() %}

<script>
	$(document).ready(function() {
	$(".schedule").html( function() {
	var air_time = moment.utc("{{ key[0] }}").local();
	var air_date = air_time
	air_time = air_time.format("LT");
	air_date = air_date.format("dddd, MMMM Do");

	var from_now = moment("{{ key[0] }}").fromNow();

	$(".{{ value[0]['ProgramId'] }}-{{ value[0]['AiringType'] }}-date").html(air_date);
	$(".{{ value[0]['ProgramId'] }}-{{ value[0]['AiringType'] }}-time").html(air_time + " <em>(" + from_now + ")</em>") });
			});
</script>

	<tr class="schedule">

	<td class="{{ value[0]['ProgramId'] }}-{{ value[0]['AiringType'] }}-date"></td>
	<td class="{{ value[0]['ProgramId'] }}-{{ value[0]['AiringType'] }}-time"></td>

	
	<td>{% for i in value %}
	<li>{{ i['Channel'] }} {% if i['HD'] %}<strong>(HD)</strong>{% endif %} <em>({{ i['SourceLongName'] }})</em></li>
	{% endfor %}
	</td>
	
	<td>
	{% if value[0]['EpisodeTitle'] %}
		<em>"{{ value[0]['EpisodeTitle'] }}" —</em>
	{% endif %}

	{% if value[0]['Copy'] %}
		{{ value[0]['Copy'] }}
	{% endif %}
	</td>
	{% if value[0]['AiringType']=='New' %}
		<td><strong>New Episode</strong></td>
	{% else %}
		<td><em>Repeat</em></td>
	{% endif %}
	</tr>



{% endfor %}
	</tbody>
</table>
</div>
		{% else %}
			<ul><li>
				No showtimes in the next week.
			</li></ul>
		{% endif %}

		</div>

	{% endfor %}



{% else %}
It looks like you don't have any favorites saved. Search for a show and add it to your favorites to see upcoming TV listings.
{% endif %}


{% endblock %}