{% extends 'base.html' %}
{% block body %}

{% if favorites %}
	<ul>
	{% for favorite in favorites %}
		<li>
		{{ favorite.show.title }}

		{% if favorite.show.img %}
			<p><img style="height:80px;" src="{{ favorite.show.img }}" alt="{{ favorite.show.title }}"></p>
		{% endif %}


		{% if schedule[loop.index-1] %}
			<p>Schedule:</p> 
			<ul>
				{% for item in schedule[loop.index-1] %}

				<li class="schedule">
				<script>

				

				$(document).ready(function() {

				$(".schedule").each( function() {

				var air_time = moment.utc("{{ item['AiringTime'] }}").local() ;

				air_time = air_time.format("dddd, MMMM Do [at] LT");

				var from_now = moment("{{ item['AiringTime'] }}").fromNow();

				$(".{{ item['ProgramId'] }}").html("<strong>When: </strong>" + air_time + " <em>(" + from_now + ")</em>") });
			});

				</script>


					 <p class="{{ item['ProgramId'] }}"></p>

					<p><strong>Channel:</strong> {{ item['Channel'] }}

					{% if item['HD'] %}
						<strong>in HD</strong>
					{% endif %}


					 ({{ item['SourceLongName'] }})


					{% if item['AiringType']=='New' %}
						<strong><em>(NEW EPISODE)</em></strong>
					{% else %}
						<em>(Repeat)</em>
					{% endif %}
					</p>


					{% if item['EpisodeTitle'] %}
						<p><strong>Episode Title:</strong> {{ item['EpisodeTitle'] }}</p>
					{% endif %}


					{% if item['Copy'] %}
						<p><strong>Description:</strong> {{ item['Copy'] }}</p>
					{% endif %}
				</li>

				{% endfor %}
			</ul>
		{% else %}
			<ul><li>
				No showtimes in the next week.
			</li></ul>
		{% endif %}

		</li>
	{% endfor %}

</ul>


{% else %}
Favorites go here
{% endif %}


{% endblock %}