{% extends 'base.html' %}
{% block body %}
{% if results %}

<h2>Search Results</h2>

<h3><em>Choose which show(s) to add to your Favorites:</em></h3>

<form action="/favorites" method="POST">

<ul>

{% for each in results %}

<li><label><input type="checkbox" name="show" 
value="{{ each['video']['ids']['cosmoId'] }}">{{ each['video']['masterTitle'] }}</label> 

{% if each['video']['images'] %}

<p><img style="height:80px;" src="{{ each['video']['images'][0]['url'] }}" alt="{{ each['video']['masterTitle'] }}"></p>

{% endif %}

{% if each['video']['synopsis'] %}

<p>{{ each['video']['synopsis']['synopsis'] }}</p>

{% endif %}

</li>

{% endfor %}

</ul>
{% if session['logged_in'] %}
<input type="submit" value="Add to Favorites">
{% else %}
Please <a href="/login">log in</a> or <a href="/signup">sign up</a> to save favorites.
{% endif %}

</form>

{% else %}

<h2>Search</h2>

<h4>Find TV shows to add to your personalized listings:</h4>

<form action="{{ url_for("search") }}" method="POST">

    <input type="text" name="query">
    <input type="submit">

</form>


{% endif %}
{% endblock %}