{% extends 'base.html' %}
{% block body %}
<h2>User Profile</h2>
<script>
$(document).ready(function() {

$("#edit-profile").click( function() {
	$("#settings").load("/settings/edit") });
});


</script>

<div id="settings">

<p><strong>Name:</strong> {{ user.name }}</p>

<p><strong>Email:</strong> {{ user.email }}</p>

<p><strong>Zipcode:</strong> {{ user.zipcode }}</p>

<p><strong>Service Provider:</strong> {{ user.service.name }}</p>

<p><strong>Password:</strong> <em>Not shown</em></p>

<p><button id="edit-profile" class="btn btn-default" type="button">Edit Settings</button></p>

</div>

{% endblock %}