{% extends 'base.html' %}
{% set active_page = "settings" %}

{% block body %}
<div class="row">
<div class="col-md-12">
<h2>User Profile</h2>


<div class="settings">

<p><strong>Name:</strong> {{ user.name }}</p>

<p><strong>Email:</strong> {{ user.email }}</p>

<p><strong>Phone Number:</strong> {% if user.phone %}{{ user.phone }}{% else %}None{% endif %}</p>

<p><strong>Get Text Notifications:</strong> {% if user.get_texts == 1 %}Yes{% else%}No{% endif %}</p>

<p><strong>Zipcode:</strong> {{ user.zipcode }}</p>

<p><strong>Service Provider:</strong> {{ user.service.name }}</p>

<p><strong>Password:</strong> <em>Not shown</em></p>
<script>
$(document).ready(function() {

$("#edit-profile").click( function() {
	$(".settings").load("/settings/edit") });
});
</script>
<button id="edit-profile" class="btn-info btn btn-default" type="button">Edit Settings</button>

</div><!-- end settings div-->

</div></div>
{% endblock %}