{% extends 'base.html' %}
{% block body %}
<script>

$(document).ready(function() {
	$("#get-service").click( function(e) {
		var url = "/find-provider?zipcode=" + $("#zipcode-field").val();
		$.get(url,
			function(result) {
				console.log(result.services)
				$(result.services).each( function() {
					$("#service-options").append("<li><label><input type='radio' name='service-provider' value='" + this['ServiceId'] + "'>" + this['Name'] + "</label></li>"
						);
				});
		});
	});
});

</script>



<h2>New users, sign up:</h2>

<form id="signup" action="/signup" method="POST">
    <label><input type="username" name="username" placeholder="Name" required autofocus /></label><br>
    <label><input type="email" name="email" placeholder="Email Address" required /></label><br>
    <label><input type="password" name="password" placeholder="Password" required /></label><br>
    <label><input type="zipcode" id="zipcode-field" name="zipcode" placeholder="Zip Code" required /></label> <button id="get-service" type="button">Find service provider</button>
<p>timezone</p>
<p>service choice:</p>
    <ul id="service-options">
    </ul>





<br><br><br>



    <label><input type="submit" value="Sign Up"></label>
</form>
{% endblock %}