{% extends 'base.html' %}
{% block body %}
<script>

$(document).ready(function() {

	$("#zipcode").keyup( 

	function(e) {
	var len = $("#zipcode").val().length;

	if (len>4) {
	var url = "/find-provider?zipcode=" + $("#zipcode").val();

		$.get(url,
			function(result) {

				$("#service-options").empty();

				$(".show-options").html("Choose your TV service provider:");
				
				$(result.services).each( function() {
					
					$("#service-options").append("<div class='radio'><li><label><input type='radio' name='service-provider' value='" + this['ServiceId'] + "'>" + this['Name'] + "</label></li></div>"); 

				}); 
			}); 
		}
	});
});

</script>


<h3>New users, sign up:</h3>

<form id="signup" action="/signup" method="POST">
<div class="form-group">
    <label for="username">Name</label>
    <input class="form-control" type="text" name="username" placeholder="Name" id="username"required autofocus />
</div>
<div class="form-group">
    <label for="email">Email Address</label>
    <input class="form-control" id="email" type="email" name="email" placeholder="example@gmail.com" required />
</div>
<div class="form-group">
    <label for="zipcode">Zip Code</label>
    <input class="form-control" id="zipcode" type="text" name="zipcode" placeholder="Zip Code" required />
    <p class="help-block">Enter zip code to find TV service provider.</p>
</div>
<div class="form-group">
    <p class="show-options"></p>
    <div class="input-group">
    <ul class="list-unstyled" id="service-options">
    </ul>
</div></div>
<span id="timezone-input"></span>
<script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
<script>
var localTime = jstz.determine();
var timezone = localTime.name();

var tz = document.createElement("INPUT");
tz.setAttribute('type', 'hidden');
tz.setAttribute('name', 'timezone');
tz.setAttribute('value', timezone);

$("#timezone-input").append(tz);
</script>
<div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" placeholder="Password" required />
</div>
    <button type="submit" id="submit" class="btn btn-default" value="Sign Up">Sign Up</button>
</form>
{% endblock %}